{% extends "admin/change_form.html" %}

{% block content %}
{{ block.super }}
<a href="#" id="create-toilet-button" class="button">Create Toilet from this Suggestion</a>
<script type="text/javascript">
    document.getElementById('create-toilet-button').addEventListener('click', function(event) {
        event.preventDefault();
        const params = new URLSearchParams({
            from_suggestion: '1',
            latitude: "{{ original.latitude }}",
            longitude: "{{ original.longitude }}",
            details: "{{ original.details|escapejs }}",
        });
        const url = '/admin/toilets4london/toilet/add/?' + params.toString();
        window.open(url, '_blank');
    });
</script>
{% endblock %}
