{% extends "admin/change_form.html" %}

{% block content %}
{{ block.super }}
<a href="#" id="create-toilet-button" class="button">Create Toilet with Prefilled Lat/Lng</a>
<script type="text/javascript">
    document.getElementById('create-toilet-button').addEventListener('click', function(event) {
        event.preventDefault();
        const latitude = "{{ original.latitude }}";
        const longitude = "{{ original.longitude }}";
        const url = `/admin/toilets4london/toilet/add/?latitude=${latitude}&longitude=${longitude}`;
        window.open(url, '_blank');
    });
</script>
{% endblock %}
